@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to right, #d332a6, aquamarine);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

svg {
  fill: currentColor;
}

/*
Detect when dialog is open to make the body not scroll
https://github.com/whatwg/html/issues/7732
 */
::backdrop {
  @apply backdrop-blur-sm bg-gray-500/65 opacity-100
}

.noscroll {
  overflow: hidden;
}